@using Packt.Shared 
@model IEnumerable<Product> 

@{
    string title = "Products that cost mor than " + ViewBag.MaxPrice;
  ViewBag.Title = title;
}

<h2>@title</h2>

<hr />

@if (Model is null)
{
    <div>No products found</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Category name</th>
                <th>Supplier</th>
                <th>Product name</th>
                <th>Price</th>
                <th>Units in stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => p.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Supplier.CompanyName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => p.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.UnitsInStock)
                    </td>
                </tr>
            }
    </tbody>
    </table>
}